<div class="emotion emotion-home">
	<div class="overlay">
		<div class="page-wrapper">
		</div>
	</div>
</div>

<div class="page-wrapper">

	<div class="content-wrapper">

		<h1>Contact</h1>

		<div class="row row-contact">
			
			<div class="first-col">
				<form action="">
					<input type="text" placeholder="Name">
					<input type="email" placeholder="Mail">
					<textarea placeholder="Message"></textarea>
				</form>
			</div>

			<div class="second-col">
				<b>Rafael Birkmann</b>
				<br>
				<a href="mailto:mail@rafaelbirkmann.de">mail@rafaelbirkmann.de</a>
				<br>
				Grünberger Straße 28
				<br>
				10245 Berlin (Friedrichshain)
				<br>
				<a href="tel:017684464201">0176 844 64 201</a>
				<br>
				<a href="https://github.com/birkmann">GitHub</a>, 
				<a href="https://twitter.com/rafaelbirkmann">twitter</a>
				<br>
				<br>
				<br>
			</div>

		</div>

	</div>

</div>