<div class="emotion emotion-home">
	<div class="overlay">
		<div class="page-wrapper">
		</div>
	</div>
</div>

<div class="page-wrapper">

	<div class="content-wrapper">

		<h1>Work</h1>

		<p>This is a selection of my personal open-source projects.</p>

		<div class="work">
			
			<a href="https://github.com/birkmann/angular-shopping-cart">
				<h2>angular-shopping-cart</h2>
			</a>

			<a href="https://github.com/birkmann/angular-todo-app/">
				<h2>angular-todo-app</h2>
			</a>

			<a href="https://github.com/birkmann/off-canvas/">
				<h2>off-canvas</h2>
			</a>

			<a href="https://github.com/birkmann/grunt-boilerplate">
				<h2>grunt-boilerplate</h2>
			</a>

			<a href="https://github.com/birkmann/grunt-template">
				<h2>grunt-template</h2>
			</a>

			<a href="https://github.com/birkmann/typo3-boilerplate">
				<h2>typo3-boilerplate</h2>
			</a>

		</div>

		<br>
		<br>
		<br>

	</div>

</div>