* {
	box-sizing: border-box;
}

@import "susy";

$susy: (
	columns: 12,
	gutters: .4,
	global-box-sizing: border-box
);

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font: 18px/1.6em sans-serif;
	color: $text-color-dark;
	overflow-y: scroll;
}

.page-wrapper {
	max-width: 1140px;
	margin: 0 auto;
}